.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.stylez, .stylez a:link, .stylez a:visited {
  font-weight: bold;
  font-size: 13px;
}
