.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.stylez, .stylez a:link, .stylez a:visited {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px black;
}
