.table {
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
}

.table td, .table tr {
    width: 500px;
    color: white;
    text-align: center;
    font-size: 14px;
    border-width: 0px;
}

.table a:link, .table a:visited {
    color: white;
}

.thead th {
    font-size: 24px;
    color: white;
    background: rgba(255, 255, 255, 0.25);
    border-width: 0px;
}
