/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/** Background gradient/colour tests
*
*  background: linear-gradient(90deg,#513eff 0%,#52e5ff 100%);
*  background: #f4f5f7 */

.textLinks {
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
  background: linear-gradient(90deg, rgba(132,152,251,1) 35%, rgba(76,181,241,1) 100%);
  overflow: hidden;
}

.body {
  background: linear-gradient(90deg, rgba(132,152,251,1) 35%, rgba(76,181,241,1) 100%);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 0px;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .body {
    padding-left: 10px;
    padding-right: 10px;
  }
}
