/* For future styling */

.carddescr {
}

.cardstyle {
    vertical-align: top;
    width: 300px;
    height: 100px;
}

.testcard a:link {
    text-align: center;
    display:block;
}

[data-theme='light'] .cardstyle a:link,[data-theme='light'] .cardstyle a:visited {
    color: black;
}

[data-theme='dark'] .cardstyle a:link,[data-theme='dark'] .cardstyle a:visited {
    color: white;
}

.cardstyle a:hover {
    text-decoration: none;
}
